@media screen and (max-width: 1421px) {
.video-watch {
	width: 1016.17px;
    height: 571.596px;
}

.video-content h3 {
	padding: 0.7em 0;
}
}

@media screen and (max-width: 1357px) {
.video-watch {
	width: 815.016px;
    height: 458.446px;
}
}

@media screen and (max-width: 1088px) {
.video-watch {
	width: 692.844px;
    height: 389.725px;
}
}

@media screen and (max-width: 925px) {
.video-watch {
	width: 510px;
    height: 286.875px;
}
}

@media screen and (max-width: 567px) {
.video-watch {
	width: 100%;
    height: 286.875px;
}
}

@media screen and (max-width: 500px) {
.video-watch {
	height: 250px;
}

.video-content h3 {
	font-size: 1.5em;
}
}

@media screen and (max-width: 450px) {
.video-watch {
	height: 230px;
}
}

@media screen and (max-width: 400px) {
.video-watch {
	height: 210px;
}
}

@media screen and (max-width:350px) {
.video-watch {
	height: 180px;
}
}

@media screen and (max-width: 320px) {
.video-watch {
    height: 168.875px;
}
}