/* Responsive video youtube----- */
#header-top {
	background-color: var(--black-2);
}

#header-top .container {
	justify-content: flex-end;
}

.fa-bars {
	color: var(--white);
}

.fa-times {
	color: var(--white);
}

.body-video {
	background-color: var(--black-2);
}
.menutora {
	padding: 0;
}

.video-padding {
	padding: 10vh 0;
	margin-bottom: 5vh;
}

.video-watch {
	margin: auto;
	width: 1050.44px;
	height: 590.873px;
}

.container .video-watch iframe {
    width: 100%;
    height: 100%;
}

.video-content h3 {
	color: var(--white);
	font-size: 1.75em;
	padding: 1em 0;
}

.chu-y {
	padding: 1em 0;
	font-size: 1.2em;
	color: var(--yellow);
}

.comment-fb {
	background-color: var(--black-0);
}
